@font-face {
  font-family: 'FuturaPT Book';
  src: url("../fonts/FuturaPTBook.otf"); }

@font-face {
  font-family: 'FuturaPT Demi';
  src: url("../fonts/FuturaPTDemi.otf"); }

@font-face {
  font-family: 'FuturaPT Bold';
  src: url("../fonts/FuturaPTBold.otf"); }

@font-face {
  font-family: 'FuturaPT Medium';
  src: url("../fonts/FuturaPTMedium.otf"); }

@font-face {
  font-family: 'FuturaPT Heavy';
  src: url("../fonts/FuturaPTHeavy.otf"); }

@font-face {
  font-family: 'FuturaPT Light';
  src: url("../fonts/FuturaPTLight.otf"); }

@font-face {
  font-family: 'FuturaPT Light';
  src: url("../fonts/FuturaPTLight.otf"); }

@font-face {
  font-family: 'FuturaPT LightOblique';
  src: url("../fonts/FuturaPTLightOblique.otf"); }

body {
    font-family: 'FuturaPT', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'FuturaPT', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #3c8dbc !important;
    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    perspective: 1500px;
    border-right: 1px solid #ccc;
}


#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #f9fafc;
    color: #000;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
}

#sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg);
}


#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'FuturaPT Bold';
}
#sidebar ul li a img{
  width: 24px;
  margin-right: 10px;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background-color: #3c8dbc !important;
}


a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-menu-right {
  right: 10px !important;
  left: auto !important;
  top: 70% !important;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
    background: #ecf0f5;
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #3c8dbc;
    cursor: pointer;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #FFF;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}


#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
.link span {
  font-family: 'FuturaPT Light';
}
.dropdown-menu .dropdown-item {
  color: #000 !important;
}
.dropdown-item.active, .dropdown-item:active {
  background-color: #3c8dbc !important;
}

.menu-right li a{
  color: #fff !important;
  font-family: 'FuturaPT Medium';
}
.menu-right .language-flag img {
  width: 20px;
  padding-top: 5px;
}
.title h1, h3 {
  font-family: 'FuturaPT Medium';
  color: #333;
}
#content .nav-full-screen {
  margin-bottom: 30px;
}
#page-news .card,
#page-kursy .card  {
  margin-bottom: 50px;
}
.card-news .card-img img {
  height: 275px !important;
}
#activateCode {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 7px;
  outline: none !important;
}
#main-page-news {
  margin-bottom: 70px;
}


#page-news .card .card-img img{
  width: 100%;
  height: 270px;

}

#page-news .card .card-content a {
  cursor: pointer;
}
#page-news .card .card-content {
  padding: 15px;
}
#page-kursy .card-content h3{
  color: #333;
}
#page-news .card .card-content .card-title h3{
  font-size: 24px;
  color: #262626;
  font-family: 'FuturaPT Medium';
  font-weight: bold;
}
#page-news .card .card-content .card-date p{
  font-size: 14px;
  color: #ccc;
  font-family: 'FuturaPT Light';
}
.footer  {
  background-color: #3c8dbc;
  text-align: right;
}
.footer .container p {
  margin: 0 !important;
  color: #262626;
  font-family: 'FuturaPT Demi';
  font-size: 14px;
}
#page-kursy .card-news .card-title {
  text-align: center;
  font-family: 'FuturaPT Bold';
}
.card-news .card-date  {
  padding: 10px;
}
#page-news .shadow {
  box-shadow: 11px 8px 8px 2px #ccc !important;
}
#page-news .shadow:hover {
  box-shadow: 0px 6px 7px 5px #ccc !important;
}
/********************* slider *********************************************************/
#jssor_1 {
  position:relative;
  top:0px;
  left:0px;
  width:100% !important;
  height:650px !important;
  overflow:hidden;
  visibility:hidden;
}
.imagesofslide {
  cursor:default;
  position:relative;
  width:100% !important;
  height:100% !important;
  overflow:hidden;
}
@media screen and (max-width: 476px) {
  #jssor_1 {
    height: 350px !important;
  }
  #sidebarCollapse {
    width: 50px !important;
    height: 50px !important;
  }
  .video video {
    width: 350px !important;
    height: 250px !important
  }
}
@media screen and (max-width: 768px){
  .video {
    display: block !important;
  }
}
/*jssor slider loading skin spin css*/
.jssorl-009-spin img {
    animation-name: jssorl-009-spin;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes jssorl-009-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

/*jssor slider bullet skin 031 css*/
.jssorb031 {position:absolute;}
.jssorb031 .i {position:absolute;cursor:pointer;}
.jssorb031 .i .b {fill:#000;fill-opacity:0.5;stroke:#fff;stroke-width:1200;stroke-miterlimit:10;stroke-opacity:0.3;}
.jssorb031 .i:hover .b {fill:#fff;fill-opacity:.7;stroke:#000;stroke-opacity:.5;}
.jssorb031 .iav .b {fill:#fff;stroke:#000;fill-opacity:1;}
.jssorb031 .i.idn {opacity:.3;}

/* end slider */


/************************************************************ style main ourse page ************************************************/
#page-kursy .card-course-main .video{
  display: flex;
}
#page-kursy .card-course-main .video #demo{
  padding-top: 20px;
  padding-left: 20px;
}
#page-kursy .card-course-main .video #demo p{
 font-family: 'FuturaPT';
}
.modal-backdrop {
 width: 100% !important;
 height: 100% !important;
}
.modal-dialog {
  z-index: 9999 !important;
}
/************************************************************ end style main course page ************************************************/
/************************************************************  style account page ************************************************/
.account-details {
  display: flex;
}
.account-details .card {
  border: none !important;
  border-radius: 10px;
}
.account-details .img-name {
  flex-direction: row !important;
  padding: 20px;
}
.account-details .account-name{
  margin-left: 35px;
  padding: 10px;
}
.account-details .account-name p{
  margin: 0 !important;
  font-family: 'FuturaPT LightOblique';
}
.account-details .account-name .account-name-text {
  color: #3c8dbc;
  font-family: 'FuturaPT Heavy';
}
.account-details .personal-details {
  padding: 20px;
}
#collaps {
  color: #3c8dbc;
  font-family: 'FuturaPT';
}
.account-details .profile-details div label{
  width: 30%;
  margin-bottom: 25px;
  color: #999;
  font-weight: 600;
  font-family: 'FuturaPT Light'
}
.account-details .profile-details div input{
  border: 1px solid #999;
  border-radius: 5px;
  color:#000;
  font-family: 'FuturaPT';
  outline: none !important;
}
#demo .tabs-text {
  display: flex;
  font-family: 'FuturaPT';
  font-weight: bolder;
}
#demo .tabs-text .btn2 {
  margin-right: 20px !important;
}
@media screen and (max-width: 768px) {
  .account-details {
    display: block;
  }
  .account-details .img-name {
    flex-direction: column !important;
    align-items: center;
    margin-bottom: 25px;
  }
  .account-details .img-name img {
    width: 43%;
  }
  .account-details .account-name {
    margin-left: 0;
  }
  .account-details .account-name p {
    width: 120%;
  }
  .account-details .profile-details div label{
    margin-bottom: 0;
  }
  .account-details .profile-details div input{
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 425px){
  .account-details .img-name img {
    width: 35%;
  }

}
/************************************************************ end style account page ************************************************/
#hidden-block {
  margin: 70px auto;
}
body.full-screen {
    overflow: hidden;
}
.player-play-list .container {
    background-color: #393939;
    -webkit-box-shadow: 0 0 25px 6px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 25px 6px rgba(0, 0, 0, 0.4);
    position: relative;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    display: flex;
    flex-direction: column;
    min-width: 768px;
    padding-top: 10px;
    padding-bottom: 10px;
}
/*.player-play-list .container > *,*/
.player-play-list .play-list ul li > * {
    float: left;
}
.player-play-list .play-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    order: 2;
}
.player-play-list .play-list .options {
    position: relative;
    flex: 1;
    max-height: 60px;
    color: #EEE;
    background-color: #111;
}
.player-play-list .play-list .options .name-play-list {
    margin-left: 20px;
    float: left;
    cursor: default;
}
.player-play-list .play-list .options .option {
    float: right;
    margin-right: 40px;
    margin-top: 28px;
}
.player-play-list .play-list .options .option .btn-option {
    color: #555;
    font-size: 27px;
    margin: 0 10px;
    display: inline-block;
    cursor: pointer;
    position: relative;
}
.player-play-list .play-list .options .option .btn-option.active {
    color: #03A9F4;
}
.player-play-list .play-list .options .option .order {
    font-size: 25px;
}
.player-play-list .play-list .options .option .btn-option .title {
    position: absolute;
    top: -27px;
    left: -110%;
    padding: 3px;
    border-radius: 3px;
    background-color: #000;
    color: #EEE;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.player-play-list .play-list .options .option .btn-option:first-child .title {
    left: -40%;
}
.player-play-list .play-list .options .option .btn-option .title:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid #444;
    position: absolute;
    bottom: -8px;
    left: 50%;
    margin-left: -6px;
}
.player-play-list .play-list .options .option .btn-option:hover .title {
    opacity: 1;
}
.player-play-list .play-list ul {
    padding: 0;
    margin: 0;
    list-style: none;
    -webkit-overflow: auto;
    overflow: auto;
    flex: 1;
}
.player-play-list .play-list ul li {
    height: 80px;
    margin-bottom: 3px;
    background-color: #000;
    color: #EEE;
    cursor: pointer;
    border-radius: 3px;
    position: relative;
}
.player-play-list .play-list ul li:last-child {
    margin-bottom: 0;
}
.player-play-list .play-list ul li .video-list {
    width: 135px;
    height: 100%;
    border: 1px solid #CCC;
    background-color: rgba(0, 0, 0, 0.9);
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.player-play-list .play-list ul li .video-list:hover {
    -webkit-transform: scale(2, 2);
    transform: scale(2, 2);
    position: relative;
    top: 0;
    left: 67px;
    z-index: 99;
    border-color: #111;
}
.player-play-list .play-list ul li:first-child .video-list:hover {
    top: 45px;
}
.player-play-list .play-list ul li:last-child .video-list:hover {
    top: -45px;
}
.player-play-list .play-list ul li .video-list.play-hover {
}
.player-play-list .play-list ul li .desc {
    width: calc(100% - 175px);
    padding: 8px;
    word-break: break-word;
    height: 100%;
    line-height: 1.2;
    position: relative;
    overflow: hidden;
}
.player-play-list .play-list ul li .desc h4 {
    margin: 2px 0 5px;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 0.5px;
}
.player-play-list .play-list ul li .desc p {
    margin: 0;
    font-size: 13px;
    color: #AAA;
}
.player-play-list .play-list ul li .count {
    text-align: center;
    line-height: 80px;
    min-width: 40px;
}
.player-play-list .play-list ul li .time {
    position: absolute;
    left: 40px;
    bottom: 3px;
    color: #FFF;
    font-size: 13px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1px 2px;
}
.player {
    background-color: #0f0e0e;
    position: relative;
    -webkit-box-shadow:0 0 20px rgba(0, 0, 0, 0.6);
    box-shadow:0 0 20px rgba(0, 0, 0, 0.6);
    overflow: hidden;
    color: #FFF;
    order: 1;
    margin-bottom: 20px;
    height: 415px;
}
.player .overlay-play {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: #FFF;
    cursor: pointer;
    z-index: 999999;
}
.player .overlay-play > span {
    background-color: #03A9F4;
    display: block;
    padding: 5px;
    padding-left: 12px;
    width: 120px;
    height: 80px;
    border-radius: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.player .overlay-load {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
.player .overlay-load .loading span {
    display: block;
    float: left;
    height: 25px;
    width: 25px;
    margin: 0 2px;
    border-radius: 50%;
    background-color: #888;
    opacity: .5;
    -webkit-animation: snake 1.4s infinite ease-in-out;
    animation: snake 1.4s infinite ease-in-out;
}
.player .overlay-load .loading span:nth-child(2) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
.player .overlay-load .loading span:nth-child(3) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}
.player .overlay-load .loading span:nth-child(4) {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}
.player .overlay-load .loading span:nth-child(5) {
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}
@-webkit-keyframes snake {
    0%{
        opacity:.2;
        -webkit-transform:translateY(0);
        -webkit-box-shadow:0 0 5px #777
    }
    50% {
        opacity:1;
        -webkit-transform:translateY(-11px);
        background-color:#888;
        -webkit-box-shadow:5px 15px 5px rgba(0,0,0,.10)
    }
    100% {
        opacity:.2;
        -webkit-transform:translateY(0);
        -webkit-box-shadow:0 0 5px #777
    }

}
@keyframes snake {
    0%{
        opacity:.2;
        transform:translateY(0);
        box-shadow:0 0 5px #777
    }
    50% {
        opacity:1;
        transform:translateY(-11px);
        background-color:#888;
        box-shadow:5px 15px 5px rgba(0,0,0,.10)
    }
    100% {
        opacity:.2;
        transform:translateY(0);
        box-shadow:0 0 5px #777
    }

}
.player .viewEventNow {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #CCC;
    line-height: 70px;
    text-align: center;
    font-size: 25px;
    opacity: 0;
    z-index: -1;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.player .viewEventNow.toggle {
    opacity: 0.2;
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
    z-index: 99;
    -webkit-animation: fadeIn 0.5s ease-in-out;
    animation: fadeIn 0.5s ease-in-out;
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0.1;
        -webkit-transform: scale(1.1, 1.1);
    }
    25% {
        opacity: 0.6;
        -webkit-transform: scale(1.25, 1.25);
    }
    50% {
        opacity: 1;
        -webkit-transform: scale(1.5, 1.5);
    }
    75% {
        opacity: 0.6;
        -webkit-transform: scale(1, 1);
    }
    100% {
        opacity: 0.2;
        -webkit-transform: scale(0.5, 0.5);
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0.1;
        transform: scale(1.1, 1.1);
    }
    25% {
        opacity: 0.6;
        transform: scale(1.25, 1.25);
    }
    50% {
        opacity: 1;
        transform: scale(1.5, 1.5);
    }
    75% {
        opacity: 0.6;
        transform: scale(1, 1);
    }
    100% {
        opacity: 0.2;
        transform: scale(0.5, 0.5);
    }
}
.player .show-title-video {
    position: absolute;
    left: 0;
    top: -150px;
    width: 100%;
    padding: 20px 30px;
    font-size: 30px;
    color: #FFF;
    z-index: 99;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.player .show-title-video:after {
    content: "";
    width: 100%;
    height: 100px;
    display: block;
    -webkit-box-shadow: 0px 50px 100px 100px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 50px 100px 100px rgba(0, 0, 0, 0.6);
    position: absolute;
    top: -150px;
    left: 0;
    z-index: -1;
}
body.full-screen .player .show-title-video.toggle {
    top: 0;
}
.player .player-video {
    width: 100%;
    height: 100%;
}
body.full-screen .player {
    z-index: 99999999;
    width: 100%;
    height: 100%;
    margin-left: 0;
    position: fixed;
    top:0;
    left: 0;
}
.player .player-controls {
    display:flex;
    position: absolute;
    bottom:0;
    left: 0;
    padding: 0 8px;
    width: 100%;
    z-index: 99999;
    -webkit-transform: translateY(100%) translateY(-4px);
    transform: translateY(100%) translateY(-4px);
    -webkit-transition:all .3s;
    transition:all .3s;
    flex-wrap: wrap;
    align-items : center;
    background-color :rgba(0,0,0,0.7);
    color: #FFF;
    min-height: 40px;
    line-height: 40px;
}
.player:hover .player-controls {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
}
.player .player-controls.toggle {
    -webkit-transform: translateY(100%) translateY(-3px);
    transform: translateY(100%) translateY(-3px);
}
body.full-screen .player:hover .player-controls {
    -webkit-transform: translateY(100%) translateY(-3px);
    transform: translateY(100%) translateY(-3px);
}
body.full-screen .player .player-controls.toggle:hover {
    -webkit-transform: translateY(100%) translateY(-3px);
    transform: translateY(100%) translateY(-3px);
}
body.full-screen .player .player-controls:hover {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.player .player-controls > * {
    flex:1;
}
.player .player-controls .progress {
    flex: 10;
    position: relative;
    display: flex;
    flex-basis: 100%;
    height: 5px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    background-color: rgba(238, 238, 238, 0.4);
    cursor: default;
    z-index: 0;
    cursor: pointer;
}
.player .player-controls .progress:hover {
    height: 10px;
}
.player .player-controls .progress:hover .progress-ball {
    opacity: 1;
    width: 20px;
    height: 20px;
}
.player .player-controls .progress-load {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(238, 238, 238, 0.7);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    z-index: -1;
}
.player .player-controls .progress-filled {
    width: 50%;
    background-color: #f00;
    flex: 0;
    flex-basis: 0%;
    position: relative;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.player .player-controls .progress-ball {
    width: 15px;
    height: 15px;
    background-color: #F00;
    border-radius: 50%;
    position: absolute;
    right: -3px;
    top: -6.5px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

/* Style Progress out Full screen */
.player .player-controls.toggle .progress-ball {
    background-color: #F00;
}
.player:hover .player-controls .progress-ball {
    opacity: 0;
    background-color: #03A9F4;
}
.player .player-controls:hover .progress-ball,
.player .player-controls:hover .progress-filled {
    background-color: #03A9F4;
}
.player:hover .player-controls.toggle .progress-ball,
.player:hover .player-controls.toggle .progress-filled {
    background-color: #F00;
}
.player .player-controls.toggle .progress-filled  {
    background-color: #f00;
}
.player:hover .player-controls .progress-filled {
    background-color: #03A9F4;
}

/* Style Progress In Full screen */
body.full-screen .player:hover .player-controls .progress-ball {
    opacity: 1;
}
body.full-screen .player .player-controls.toggle .progress-ball {
    top: -5px;
    right: -5px;
}
body.full-screen .player .player-controls.toggle .progress-ball,
body.full-screen .player .player-controls.toggle .progress-filled,
body.full-screen .player:hover .player-controls .progress-ball,
body.full-screen .player:hover .player-controls .progress-filled {
    background-color: #f00;
}
body.full-screen .player .player-controls:hover .progress-ball,
body.full-screen .player .player-controls:hover .progress-filled {
    background-color: #03A9F4;
}
body.full-screen .player .player-controls.toggle:hover .progress-ball,
body.full-screen .player .player-controls.toggle:hover .progress-filled {
    background-color: #F00;
}
body.full-screen .player .player-controls:hover .progress-ball {
    opacity: 0;
}
body.full-screen .player .player-controls .progress:hover .progress-ball {
    opacity: 1;
}

.player .player-controls .screen-move {
    position: absolute;
    top: -105px;
    left: 0;
    margin-left: -73.5px;
    width: 167px;
    height: 95px;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0 0 10px rgba(238, 238, 238, 0.3);
    box-shadow: 0 0 10px rgba(238, 238, 238, 0.3);
    border: 1px solid #111;
    text-align: center;
    border-radius: 1px;
    z-index: 99;
    display: none;
    justify-content: center;
}
.player .player-controls .screen-move .video-move {
    width: 100%;
    height: 100%;
}
.player .player-controls .screen-move .time-screen {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 0;
    z-index: 9999;
    padding: 5px 10px;
    text-align: center;
    line-height: 1;
    border-radius: 2px 2px 0 0;
}
.player .player-controls .player-button {
    border: 0;
    background: transparent;
    line-height:1;
    text-align: center;
    outline:0;
    padding: 0;
    cursor:pointer;
    max-width: 45px;
}
.player .player-controls .player-button.backward,
.player .player-controls .player-button.forward {
    max-width: 30px;
    margin-left: 10px;
}
.player .player-controls .player-button.forward { margin-right: 10px; }

.player .player-controls .view-next-prev {
    position: absolute;
    top: -130px;
    left: 95px;
    background-color: #222;
    width: 500px;
    height: 120px;
    overflow: hidden;
    border-radius: 4px;
    display: none;
}
.player .player-controls .view-next-prev > * {
    float: left;
}
.player .player-controls .view-next-prev video {
    width: 212px;
    height: 100%;
    border-radius: 3px 0 0 3px;
}
.player .player-controls .view-next-prev .desc {
    height: 100%;
    width: calc(100% - 220px);
    padding: 5px;
    line-height: 1.15;
}
.player .player-controls .view-next-prev .desc h4 {
    margin: 2px 0 5px;
    font-size: 14px;
}
.player .player-controls .view-next-prev .desc p {
    margin: 0;
    color: #CCC;
    font-size: 13px;
}
.player .player-controls .view-next-prev .time {
    position: absolute;
    left: 0;
    bottom: 0;
    color: #FFF;
    font-size: 14px;
    line-height: 1;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 3px;
}
.player .player-controls .player-button.notActive {
    color: #AAA;
    cursor: not-allowed;
}

.player .player-controls .time {
    text-align: center;
    font-size: 13px;
    max-width: 120px;
    cursor: default;
    max-height: 40px;
}
.player .player-controls .volume {
    position: relative;
    display: flex;
    flex: 0.6;
    align-items: center;
    font-size: 18px;
    max-width: 110px;
    overflow: hidden;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.player .player-controls .volume .icon {
    margin-right: 5px;
    display:  flex;
    align-items: center;
    flex: 1;
}
.player .player-controls .volume i { flex: 1; cursor: pointer; }
.player .player-controls .volume i.fa-close { font-size: 12px; display: none}
.player .player-controls .volume input { flex: 10; }
.player .player-controls .volume.toggle { max-width: 20px; }
.player .player-controls .volume.toggle .icon {
    margin-right: 15px;
}
.player .player-controls .hide-controls {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 5px;
    right: 70px;
    line-height: 1;
    letter-spacing: 1px;
    text-align: center;
    font-size: 12px;
    padding: 4px;
    cursor: pointer;
    -webkit-box-shadow: 0 0 8px rgba(238, 238, 238, 0.3);
    box-shadow: 0 0 8px rgba(238, 238, 238, 0.3);
    border-radius: 4px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
.player .player-controls .hide-controls:hover {
    background-color: rgba(0, 0, 0, 0.85);
    -webkit--webkit-box-shadow: 0 0 12px rgba(238, 238, 238, 0.4);
    box-shadow: 0 0 12px rgba(238, 238, 238, 0.4);
}
.player .player-controls .hide-controls.toggle {
    right: 10px;
    bottom: 105%;
}
.player .player-controls .button-full-screen {
    border: 3px dashed #CCC;
    padding: 3px 0;
    font-size: 18px;
    position: absolute;
    right: 20px;
    bottom: 5px;
    min-width: 45px;
    min-height: 30px;
}

/* Start Option Player */

.player .player-controls .player-controls.toggle .player-option {
    overflow: hidden;
}
.player .player-controls .player-option {
    position: absolute;
    text-align: center;
    max-width: 40px;
    right: 130px;
    bottom: 0;
}
.player .player-controls .player-option .button-option {
    font-size: 20px;
    padding: 3px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.player .player-controls .player-option .option-item {
    width: 230px;
    background-color: #222;
    position: absolute;
    bottom: calc(100% + 10px);
    right: 30px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 10px rgba(238, 238, 238, 0.5);
    box-shadow: 0 0 10px rgba(238, 238, 238, 0.5);
    -webkit-transform: translateY(250px);
    transform: translateY(250px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.player .player-controls .player-option.toggle .option-item {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.player .player-controls .player-option.toggle .button-option {
    -webkit-transform: rotate(50deg);
    transform: rotate(50deg);
}

.player .player-controls .player-option .row {height: 50px; line-height: 50px;}
.player .player-controls .player-option .row > * { float: left; height: 100%; }
.player .player-controls .player-option .row .title {
    width: 40%;
    cursor: default;
}
.player .player-controls .player-option .row .func { width: 60%; }
.player .player-controls .player-option .autoplay .range-auto {
    width: 40px;
    height: 8px;
    background-color: #666;
    border-radius: 5px;
    margin-top: 23px;
    margin-left: 45px;
    cursor: pointer;
    position: relative;
}
.player .player-controls .player-option .autoplay .range-auto span {
    display: block;
    width: 18px;
    height: 18px;
    background-color: #888;
    border-radius: 50%;
    position: absolute;
    left: -1px;
    top: -5px;
}
.player .player-controls .player-option .autoplay .range-auto.active {
    background-color: #EEE;
}
.player .player-controls .player-option .autoplay .range-auto.active span {
    left: 22px;
    background-color: #03A9F4;
}
.player .player-controls .player-option .speed .range-speed .cover-speed {
    width: 80%;
    margin: auto;
    position: relative;
}
.player .player-controls .player-option .speed .show-play-back {
    position: absolute;
    left: 50%;
    top: -15px;
    width: 50px;
    margin-left: -25px;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0 0 10px rgba(238, 238, 238, 0.3);
    box-shadow: 0 0 10px rgba(238, 238, 238, 0.3);
    padding: 8px;
    text-align: center;
    line-height: 1;
    border-radius: 3px;
    display: none;
}
.player .player-controls .player-option .quality .range-quality {
    color: #888;
    font-weight: 900;
    width: 50%;
    float: left;
}
.player .player-controls .player-option .quality .range-quality span {
    cursor: pointer;
}
.player .player-controls .player-option .quality .range-quality.active span {
    color: #03A9F4;
}
.player .player-controls .player-option .quality .auto-quality {
    float: left;
    width: 50%;
}
.player .player-controls .player-option .quality .auto-quality .click-active {
    cursor: pointer;
    position: relative;
    top: -2px;
    font-weight: bold;
    color: #888;
}
.player .player-controls .player-option .quality .auto-quality .click-active span {
    position: absolute;
    right: -10px;
    bottom: -8px;
    color: #777;
    font-weight: 900;
    font-size: 11px;
    line-height: 1;
    display: none;
}
.player .player-controls .player-option .quality .auto-quality.active .click-active {
    color: #03a9f4;
}
.player .player-controls .player-option .quality .auto-quality.active .click-active span {
    color: #f00;
    display: block;
}
/* End Option Player */


/* unholy css to style input type="range" */

.player .player-controls input[type=range] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  width: 100%;
  margin: 0 5px;
}
.player .player-controls input[type=range]:focus {
  outline: none;
}
.player .player-controls input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  background: #EEE;
  border-radius: 1.3px;
  border: 0.2px solid rgba(1, 1, 1, 0);
}
.player .player-controls input[type=range]::-webkit-slider-thumb {
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  height: 18px;
  width: 18px;
  border-radius: 50px;
  background: #03A9F4;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6.8px;
  box-shadow:0 0 2px rgba(0,0,0,0.2);
}
.player .player-controls input[type=range]:focus::-webkit-slider-runnable-track {
  background: #EEE;
}
.player .player-controls input[type=range]::-moz-range-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  background: #eee;
  border-radius: 1.3px;
  border: 0.2px solid rgba(1, 1, 1, 0);
}
.player .player-controls input[type=range]::-moz-range-thumb {
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  height: 18px;
  width: 18px;
  border-radius: 50px;
  background: #03A9F4;
  cursor: pointer;
}

/* Media Query In All Screen
*********************************************/

/* Start Gerater Than Screen 1200 (Desktop) */
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 1200px) {
    .player-play-list .container {
        margin-top: 30px;
        width: 1170px;
        min-width: auto;
        flex-direction: row;
        height: 421px;
    }
    .player-play-list .play-list {
        order: 2;
        margin-right: 10px;
        flex: 1;
    }
    .player-play-list .player {
        order: 1;
        flex: 1.7;
    }
    .player {
        height: 100%;
    }
}
/* End Gerater Than Screen 1200 (Desktop) */
#page404 {
  height: 100vh;
  background: url('../images/space.jpg') no-repeat;
  background-size: cover;
  position: relative;
  margin: 0 !important;
  text-align: center;

}
#page404 .error404 {
  font-size: 252px;
  opacity: .5;
  text-align: center;
}
#page404 .error-img img{
  position: absolute;
  top: 5%;
  left: 65%;
}
#page404 .btn-tohome {
  font-size: 40px;
  background: #06070bc9;
  padding:10px 25px;
  outline: none !important;
  color: #fff;
}
#page-kursy .reviews-course {
  border-top: 1px solid #3c8dbc;
  padding-top: 70px;
}
#page-kursy .video-button {
  padding-bottom: 70px;
}
.video img{
  width: 100%;
  height: 100%;
}
#page-kursy .course-comments {
  margin-top: 70px;
}
#page-kursy .users-name {
  color: #3c8dbc;

}

#page-kursy .date-comments {
  font-size: 14px;
  margin: 0 !important;
}
#page-kursy .comment-body {
  margin: 0 !important;
  color: #000;
}
#page-kursy .form-control {
  outline: 0;
    min-height: 36px;
    width: 35%;
    resize: none;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 6px;
    line-height: 17px;
    padding: 9px 106px 10px 13px;
    margin-bottom: 0;
    word-wrap: break-word;
    box-sizing: border-box;
    border: 1px solid #ccc;
    -o-transition: border-bottom-color 0.3s linear;
    transition: border-bottom-color 0.3s linear;
    -webkit-font-smoothing: subpixel-antialiased;
}
#page-kursy .add-comment {
  display: flex;
}
#page-kursy .btn-send-comment {
  background-color: transparent;
  width: 40px;
  border: none;

}
#page-kursy .btn-send-comment img {
  padding-top: 50%;
}
#page-order .order-videos {
  margin-bottom: 50px;
}
#page-order #play-video {
  background: transparent;
  border: none;
  position: absolute;
  top: 25%;
  left: 20%;
}
#ytplayer { width: 100%; max-width: 80%; min-height: 320px; }
.modal { display: none; position: fixed; z-index: 1; left: 0; top: 0; width: 100%; height: 100%; overflow: auto; background-color: rgb(0,0,0); background-color: rgba(0,0,0,0.4); }
.modal-content { background-color: #fefefe; margin: 15% auto; padding: 20px; border: 1px solid #888; width: 100%; max-width: 760px; }
.close {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}
.close:focus, .close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: .5;
}
.modal-backdrop {
    display: none !important;
}
.order-videos .modal-header {
    padding: 0 !important;
}
.order-videos .btn-closemodal {
  position: absolute;
  top: 18%;
  left: 79%;
  font-size: 35px;
  color: #fff;
  cursor: pointer;
}
 .modal-open {
  padding-right: 0 !important;
}
.order-videos .modal-footer {
  justify-content: flex-start;
}
.order-videos .modal-footer .download-files img{
  padding-right: 10px;
}
.order-videos .video-title {
  font-size: 21px;
  color: #262626;
  padding-top: 15px;
  cursor: pointer;
}
@media screen and (max-width: 800px) {
  #iframe {
    width: auto;
    height: auto;
  }
  .download-files img {
    width: 15%;
  }
}
.sidebar-header img {
	width: 45%;
}
.sidebar-header {
	text-align: center;
}
.breadcrumbs {
  width: 100%;
  margin-bottom: 25px;
}
.breadcrumbs a{
  background: #3c8dbc;
  color: #fff;
  padding: 15px;
  border-radius: 7px;
}
#modalsupport textarea {
  min-width: 100%;
  min-height: 150px;
  resize: none;
  overflow:auto;
  border: 1px solid #ccc;
}